{%- if form_type == 'popup' -%}
  <div class="js-close-email-popup close-popup-overlay"></div>
{%- endif -%}
<div class="newsletter-section email-{{ form_type }}-form-wrapper">
  <div class="container padded">
    <div class="flex-columns-2 m-flex-reverse">
      <div>

        <!-- ======================================
        TEXT INFO
        =========================================== -->
        {% if section.settings.subheading != blank %}
          <h3 class="small-caps" data-anim="slide" data-anim-order="3">{{ section.settings.subheading }}</h3>
        {% endif %}
        {% if section.settings.heading != blank %}
          <h2 class="h1" data-anim="slide" data-anim-order="4">{{ section.settings.heading | newline_to_br }}</h2>
        {% endif %}

        <!-- ======================================
        KLAVIYO FORM
        =========================================== -->
        <div class="form-outer-wrapper" data-anim="slide" data-anim-order="5">
          <div id="sh-klaviyo-form" class="klaviyo-form-X5UsRs"></div>
          {%- if form_type == 'popup' -%}
            <button type="button"
              aria-label="close-popup"
              class="js-close-email-popup close-popup text-only small-caps">
              No cute pet emails for me
            </button>
          {%- endif -%}
        </div>
      </div>
      <div class="image-col">
        <div class="cropped-image-wrapper" data-anim="slide" data-anim-order="6">
          {% assign image = section.settings.image %}
          {% assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
          {% assign mobile_image = section.settings.mobile_image %}
          {% assign mobile_img_url = mobile_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
          {% assign alt_text = section.settings.image_alt | escape %}
          <img
          class="lazyload fade-in show-mobile"
          data-src="{{ mobile_img_url }}"
          data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
          data-aspectratio="{{ image.aspect_ratio }}"
          data-sizes="auto"
          alt="{{ alt_text }}"
          data-anim="scale"
          >
          <img
          class="lazyload fade-in hide-mobile"
          data-src="{{ img_url }}"
          data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
          data-aspectratio="{{ image.aspect_ratio }}"
          data-sizes="auto"
          alt="{{ alt_text }}"
          data-anim="scale"
          >
        </div>
      </div>
    </div>
  </div>
</div>
