<!-- <a href="/cart">
  {% include 'icon-cart' %}
  {{ 'layout.cart.title' | t }}
  ({{ cart.item_count }} {{ 'layout.cart.items_count' | t: count: cart.item_count }})
</a> -->

<!-- ===================================
CART
====================================== -->
<a href="/cart" data-cart-view="data-cart-view" class="cart-icon-wrapper js-view-cart">
  <span class="show-mobile mobile-cart-icon-wrapper">
    <span class="js-cart-count cart-counter" rv-html="cart.item_count">{{ cart.item_count }}</span>
    {% include 'icon-cart' %}
  </span>

  <span class="hide-mobile">
    Bag
    (<span class="js-cart-count cart-counter" rv-html="cart.item_count">{{ cart.item_count }}</span>)
  </span>
</a>
