<div class="product-thumb">
  <a href="{{ product.url | within: collection }}" alt="Shop {{ product.title }} Now">

    {% if product.featured_image != blank %}
      <span class="images-thumb-wrapper">
        <div class="cropped-image-wrapper featured-image">
          {% assign image = product.featured_image.src %}
          {% assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
          {% assign mobile_image = product.images[2].src %}
          {% assign mobile_img_url = product.images[2] | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
          {% assign alt_text = product.featured_image.alt | escape %}
          <img
          class="lazyload fade-in hide-mobile"
          data-src="{{ img_url }}"
          data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
          data-aspectratio="{{ image.aspect_ratio }}"
          data-sizes="auto"
          alt="{{ alt_text }}"
          data-anim="scale">
          <img
          class="lazyload fade-in show-mobile"
          data-src="{{ mobile_img_url }}"
          data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
          data-aspectratio="{{ image.aspect_ratio }}"
          data-sizes="auto"
          alt="{{ alt_text }}"
          data-anim="scale">
        </div>

        <div class="cropped-image-wrapper hover-image">
          {% assign image = product.images[1].src %}
          {% assign alt_text = product.images[1].alt | escape %}
          {% assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
          <img
          class="lazyload fade-in"
          data-src="{{ img_url }}"
          data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
          data-aspectratio="{{ image.aspect_ratio }}"
          data-sizes="auto"
          alt="{{ alt_text }}"
          data-anim="scale">
        </div>
      </span>
    <!-- {{ product.featured_image.src | img_url: '480x480' | img_tag: product.title }} -->
    {% endif %}
  </a>

  <div >
    <a class="product-bottom-row" href="{{ product.url | within: collection }}" alt="Shop {{ product.title }} Now">
      <h2>
        {{ product.title }}
      </h2>
      <button type="button" class="btn btn--grey">Buy Now</button>
    </a>
  </div>
</div>
