<section class="icon-blocks-section">
  <div class="container padded" >
    <div  data-anim="scroll">
      <!-- Heading & Subheading -->
      {% if section.settings.subheading != blank %}
        <h3 class="small-caps" data-anim="slide" data-anim-order="1">
          {{ section.settings.subheading }}
        </h3>
      {% endif %}
      {% if section.settings.title != blank %}
        <h1 data-break="lines-masked">{{ section.settings.title }}</h1>
      {% endif %}

    </div>

    <!-- Icon Blocks -->
    <div class="cols-4 no-gutters"  data-anim="scroll">
      {% for block in section.blocks %}
        {% case block.type %}
        {% when 'icon_block' %}
          <div class="icon-block top-row">
            <div class="">
              <div class="icon-wrapper" data-anim="slide" data-anim-order="4">
                {%- assign lazy_image = block.settings.image -%}
                {%- assign img_url = lazy_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                <img class="lazyload icon"
                    data-src="{{ img_url }}"
                    data-widths="[360, 540, 720, 900, 1080, 1600]"
                    data-aspectratio="{{ lazy_image.aspect_ratio }}"
                    data-sizes="auto"
                    role="presentation"
                    alt="{{ lazy_image.alt }}">
              </div>
              {% if block.settings.title != blank %}
                <h2 data-anim="slide" data-anim-order="5">{{ block.settings.title | newline_to_br }}</h2>
              {% endif %}
            </div>
            {% if block.settings.desc != blank %}
              <div class="desc show-mobile" data-anim="slide" data-anim-order="6">
                {{ block.settings.desc }}
              </div>
            {% endif %}
          </div>
        {% endcase %}
      {% endfor %}
    </div>
    <!-- Icon Blocks -->
    <div class="cols-4 no-gutters hide-mobile"  data-anim="scroll">
      {% for block in section.blocks %}
        {% case block.type %}
        {% when 'icon_block' %}
          <div class="icon-block" >
            {% if block.settings.desc != blank %}
              <div class="desc" data-anim="slide" data-anim-order="6">
                {{ block.settings.desc }}
              </div>
            {% endif %}
          </div>
        {% endcase %}
      {% endfor %}
    </div>


  </div>
</section>


{% schema %}
  {
    "name": "Icon Blocks Section",
    "settings": [
      {
        "id": "title",
        "type": "textarea",
        "label": "Title"
      },
      {
        "id": "subheading",
        "type": "textarea",
        "label": "Subheading"
      }
    ],
    "blocks": [
      {
        "type": "icon_block",
        "name": "Icon Block",
        "settings": [
          {
            "id": "title",
            "type": "textarea",
            "label": "Title"
          },
          {
            "id": "image",
            "type": "image_picker",
            "label": "Image"
          },
          {
            "id": "desc",
            "type": "textarea",
            "label": "Copy"
          }

        ]
      }
    ],
    "presets": [
      {
        "name": "Icon Blocks Section",
        "category": "Sections"
      }
    ]
  }

{% endschema %}
