<section class="manifesto-section" data-anim="scroll">
  <div class="container padded">
    <div class="cols-2 no-gutters">

      <!-- ======================================
      COLLAGE IMAGES
      =========================================== -->
      <div class="image-collage">
        <div class="image-wrapper top-image">
          {%- assign lazy_image = section.settings.top_image -%}
          {%- assign img_url = lazy_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
          <img class="lazyload lazy-load"
              data-src="{{ img_url }}"
              data-widths="[360, 540, 720, 900, 1080, 1600]"
              data-aspectratio="{{ lazy_image.aspect_ratio }}"
              data-sizes="auto"
              role="presentation"
              data-anim="parallax"
              data-translate-from="0"
              data-translate-to="30"
              alt="{{ lazy_image.alt }}">

        </div>
        <div class="image-wrapper bottom-image">
          {%- assign lazy_image = section.settings.bottom_image -%}
          {%- assign img_url = lazy_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
          <img class="lazyload lazy-load"
              data-src="{{ img_url }}"
              data-widths="[360, 540, 720, 900, 1080, 1600]"
              data-aspectratio="{{ lazy_image.aspect_ratio }}"
              data-sizes="auto"
              role="presentation"
              data-anim="parallax"
              data-translate-from=""
              data-translate-to="-30"
              alt="{{ lazy_image.alt }}">
        </div>
      </div>

      <!-- ======================================
      HEADING & TEXT
      =========================================== -->
      <div>
        {% if section.settings.subheading != blank %}
          <h3 class="small-caps" data-anim="slide" data-anim-order="1">
            {{ section.settings.subheading }}
          </h3>
        {% endif %}
        {% if section.settings.heading != blank %}
          <h2 class="h1" data-break="lines-masked">{{ section.settings.heading }}</h2>
        {% endif %}
        {% if section.settings.button_text != blank %}
          <div data-anim="slide" data-anim-order="1">
            <a href="{{ section.settings.button_url }}" class="btn btn--grey">
              {{ section.settings.button_text }}
            </a>
          </div>
        {% endif %}
      </div>

    </div>
  </div>

</section>




{% schema %}
  {
    "name": "Manifesto Section",
    "settings": [
      {
        "id": "heading",
        "type": "textarea",
        "label": "Heading"
      },
      {
        "id": "subheading",
        "type": "textarea",
        "label": "Subheading"
      },
      {
        "id": "button_text",
        "type": "text",
        "label": "Button Text",
        "default": "Shop Now"
      },
      {
        "id": "button_link",
        "type": "url",
        "label": "Button Link"
      },
      {
        "id": "top_image",
        "type": "image_picker",
        "label": "Top Image"
      },
      {
        "id": "bottom_image",
        "type": "image_picker",
        "label": "Bottom Image"
      }
    ],
    "presets": [
      {
        "name": "Manifesto Section",
        "category": "Sections"
      }
    ]
  }

{% endschema %}
