<section id="cart-drawer" class="js-cart-drawer cart-drawer">
  <div class="cart-inner">

    <!-- ======================================
    HEADER ROW
    =========================================== -->
    <div class="top-row container">
      <h2>Cart (<span class="js-cart-count">{{ cart.item_count }}</span>)</h2>
      <button type="button" class="js-close-cart text-button close-cart-text text-only" aria-label="Close Cart Drawer">
        <img src="{{ 'icon-close.svg' | asset_url }}" alt="Close Cart" width="17">
      </button>
    </div>
    <main>


      <!-- ======================================
      HANDLEBARS CART
      =========================================== -->
      <div id="cart-items-container"></div>

      <script id="cart-item-template" type="text/x-handlebars-template">
        {% raw %}
        <div data-label="Product"
          class="js-cart-item cart-row"
          data-product-id="{{ variant_id }}"
          data-variant-key="{{ key }}"
          data-interval-unit="{{ properties.shipping_interval_unit_type }}"
          data-frequency="{{ properties.shipping_interval_frequency }}"
          data-quantity="{{ quantity }}">

          {{! CART IMAGE =============== }}
          <div class="cart-image container">
            {{# if original_image }}
            <a href="/products/{{ original_handle }}">
              <img src="{{ original_image }}" alt="{{ original_title }}">
            </a>
            {{/if}}
          </div>

          <hr>

          {{! CART INFO =============== }}
          <div class="cart-info container">

            {{! CART TITLE =============== }}
            <!-- <h3><a href="{{ originalProduct.url }}">{{ originalProduct.title }}</a></h3> -->
            <h3><a href="/products/{{ original_handle }}">{{ original_title }}</a></h3>


            <div class="subscribe-text">
              <h4>{{ subscription_text }}</h4>
              {{# if frequency }}
                <h4>{{ frequency }}</h4>
              {{/if}}
            </div>


            {{! QUANTITY =============== }}
            <div data-label="Quantity" class="quantity-cell">
              <h4>Quantity </h4>
              <div class="number-input-wrapper cart-number-input-wrapper">
                <input type="number"
                  class="visually-hidden"
                  name="updates[]"
                  id="updates_{{ key }}"
                  value="{{ quantity }}"
                  min="0"
                  aria-label="Cart Item Quantity"
                  onblur="this.form.submit();">
                <a href="#" class="subtract-one" data-operation="subtract" >-</a>
                <span class="js-count-placeholder placeholder item-count">{{ quantity }}</span>
                <a href="#" class="add-one" data-operation="add">+</a>
              </div>
            </div>


            {{! SUBTOTAL =============== }}
            <div data-label="Subtotal" class="total-cell">
              <h4>Subtotal</h4>
              <h4><span class="js-line-item-total small-caps line-item-total">{{ formatCurrency line_price }}</span></h4>
            </div>
          </div>
        </div>
        {% endraw %}
      </script>



    <script type="text/javascript">
      var cartObject = {{ cart | json }};
      var cartItems = [];
    </script>


      {% for item in cart.items %}

        {% assign has_subscriptions = false %}
        {% for p in item.properties %}
          {% if p.first == 'shipping_interval_frequency' %}
            {% assign has_subscriptions = true %}
          {% endif %}
        {% endfor %}

        <!-- SUBSCRIPTION RECHARGE: If this is a subscription item, get info for original variant.  -->
        {%- if has_subscriptions -%}
          {% assign original_handle = item.product.metafields.subscriptions.original_handle %}
          {% assign originalProduct = all_products[original_handle] %}
        {%- else -%}
          {% assign originalProduct = item.product %}
        {%- endif -%}

        <script type="text/javascript">
          var item = {{ item | json }};
          var originalProduct = {{ originalProduct | json }};
          item.original_handle = originalProduct.handle;
          item.original_title = originalProduct.title;
          item.original_image = originalProduct.featured_image;

          // console.log(originalProduct);

          cartItems.push(item);
        </script>


      {% endfor %}

      {% include 'ajax-cart-drawer' %}

    <!-- ======================================
    EMPTY STATE
    =========================================== -->

      <p class="js-empty-cart empty-cart container {% if cart.item_count > 0 %}hide{% endif %}">
        Your cart is empty
      </p>
    </main>

    <!-- ======================================
    CART FOOTER (BUTTON ROW)
    =========================================== -->
    <div class="js-cart-total-row footer-content {% if cart.item_count == 0 %}hide{% endif %}" >
      <a class="btn btn--black small-caps" href="/checkout"><span class="js-cart-total">{{ cart.total_price | money }}</span> Checkout</a>
    </div>
  </div>
</section>

<!-- ======================================
OVERLAY
=========================================== -->
<div class="close-cart-overlay js-close-cart"></div>
