<div data-section-id="{{ section.id }}" data-section-type="product" data-enable-history-state="true" itemscope itemtype="http://schema.org/Product">

  {%- assign current_variant = product.selected_or_first_available_variant -%}
  {%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}

  <meta itemprop="name" content="{{ product.title }}{% unless product.has_only_default_variant %} - {{ current_variant.title }}{% endunless %}">
  <meta itemprop="url" content="{{ shop.url }}{{ current_variant.url }}">
  <meta itemprop="brand" content="{{ product.vendor }}">
  <meta itemprop="image" content="{{ featured_image | img_url: '600x600' }}">
  <meta itemprop="description" content="{{ product.description | strip_html | escape }}">

  <div class="product-columns no-gutters">
    <div class="container product-images-col">

      {% if product.images.size > 0 %}
        <div class="swiper-container swiper-has-arrows swiper-container-product">
          <div class="swiper-wrapper">
          {% assign index = 0 %}
          {% for image in product.images %}
            {%- if index == 0 or index == 1  -%}
              <div class="swiper-slide">
                <!-- <div class="cropped-image-wrapper"> -->
                  {%- if index == 0 -%}
                    {% assign mobile_image = product.images[2] %}
                  {%- else -%}
                    {% assign mobile_image = product.images[3] %}
                  {%- endif -%}
                  {% assign image = product.featured_image.src %}
                  {% assign alt_text = product.featured_image.alt | escape %}
                  {% assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
                  {% assign mobile_img_url = mobile_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
                  <img class="lazyload hide-mobile"
                  data-src="{{ img_url }}"
                  data-widths="[360, 540, 720, 900, 1080, 1600]"
                  data-aspectratio="{{ lazy_image.aspect_ratio }}"
                  data-sizes="auto"
                  alt="{{ featured_image.alt | escape }}"
                  data-product-single-thumbnail />
                  <img class="lazyload show-mobile"
                  data-src="{{ mobile_img_url }}"
                  data-widths="[360, 540, 720, 900, 1080, 1600]"
                  data-aspectratio="{{ lazy_image.aspect_ratio }}"
                  data-sizes="auto"
                  alt="{{ featured_image.alt | escape }}"
                  data-product-single-thumbnail />

                <!-- </div> -->
              </div>
            {%- elsif index > 3 -%}
              <div class="swiper-slide">
                {% assign image = product.featured_image.src %}
                {% assign alt_text = product.featured_image.alt | escape %}
                {% assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
                <img class="lazyload"
                data-src="{{ img_url }}"
                data-widths="[360, 540, 720, 900, 1080, 1600]"
                data-aspectratio="{{ lazy_image.aspect_ratio }}"
                data-sizes="auto"
                alt="{{ featured_image.alt | escape }}"
                data-product-single-thumbnail />
              </div>
            {%- endif -%}
          {% assign index = index | plus: 1 %}
          {% endfor %}
          </div>
          <div class="swiper-pagination"></div>
          <button type="button" class="swiper-prev text-only" aria-label="View Previous Image">
            {%- include 'icon-arrow-left' -%}
          </button>
          <button type="button" class="swiper-next text-only" aria-label="View Next Image">
            {%- include 'icon-arrow-right' -%}
          </button>
        </div>
      {% endif %}
    </div>
    <div class="product-info-col">
      <div class="container-right-lg container-mobile product-intro-info">
        <h1 class="h2 container-left-lg">{{ product.title }}</h1>
        <div class="rte desc container-left-lg">
          {{ product.description }}
        </div>
      </div>


      <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
        <meta itemprop="priceCurrency" content="{{ shop.currency }}">
        <meta itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}">
        <link itemprop="availability" href="http://schema.org/{% if current_variant.available %}InStock{% else %}OutOfStock{% endif %}">
      {% if product.variants.first.inventory_quantity > 0 %}



        <form id="add-item-form" action="/cart/add" method="post" enctype="multipart/form-data" data-productid="{{product.id}}">

          {% unless product.has_only_default_variant %}
            {% for option in product.options_with_values %}
              <div class="selector-wrapper js container-left-lg  form-cell">

                {%- if option.values.size == 1 -%}
                  <input type="radio"
                    id="SingleOptionSelector-{{ forloop.index0 }}"
                    name="{{ option.name }}"
                    value="{{ option.values[0] | escape }}"
                    checked="checked"
                    data-single-option-selector
                    data-index="option{{ option.position }}">
                  <label for="SingleOptionSelector-{{ forloop.index0 }}">
                    <span class="size-label">{{ option.name }}</span>
                    <span class="size-value">({{ option.values[0] }})</span>
                  </label>

                {%- else -%}

                  <label for="SingleOptionSelector-{{ forloop.index0 }}">
                    {{ option.name }}
                  </label>

                  <select
                      id="SingleOptionSelector-{{ forloop.index0 }}"
                      data-single-option-selector
                      data-index="option{{ option.position }}">
                      {% for value in option.values %}
                    <option
                      value="{{ value | escape }}"
                      {% if option.selected_value == value %}selected="selected"{% endif %}>
                      {{ value }}
                    </option>
                    {% endfor %}
                  </select>


                {%- endif -%}

              </div>
            {% endfor %}
          {% endunless %}

          <div class="subscribe-and-save">
            {% if product.available %}{% include 'subscription-product' %}{% endif %}
          </div>

          <select id="variant-id" name="id" class="no-js visually-hidden" data-product-select data-productid="{{product.id}}">
            {% for variant in product.variants %}
              <option
                {% if variant == current_variant %}selected="selected"{% endif %}
                {% unless variant.available %}disabled="disabled"{% endunless %}
                value="{{ variant.id }}">
                  {{ variant.title }}
              </option>
            {% endfor %}
          </select>

          <div class="spacer-row"></div>

          {%- assign featured_image_url = featured_image | img_url: '650x' -%}
          <button
            type="submit"
            name="add"
            class="js-add-to-cart-btn btn btn--black"
            data-add-to-cart
            data-original-handle="{{ product.handle }}"
            data-original-title="{{ product.title }}"
            data-original-image="{{ featured_image_url }}"
            {% unless current_variant.available %}disabled="disabled"{% endunless %}>
            {%- if current_variant.price -%}
              <span class="price-wrapper" data-price-wrapper>
                  <span data-product-price>
                    {{ current_variant.price | money }}
                  </span>
                  <span class="js-price temp-hidden">
                    {{ current_variant.price | money }}
                  </span>


                <!-- {% if product.compare_at_price_max > product.price %}
                  <span class="visually-hidden" data-compare-text>{{ 'products.product.regular_price' | t }}</span>
                  <s data-compare-price>
                    {% if current_variant.compare_at_price > current_variant.price %}
                      {{ current_variant.compare_at_price | money }}
                    {% endif %}
                  </s>
                {% endif %} -->
              </span>
              {%- endif -%}
              <span data-add-to-cart-text class="js-add-to-cart-text">
                Subscribe Now
              </span>
          </button>
        </form>



      {% endif %}
    </div>
    {% unless product.variants.first.inventory_quantity > 0 %}

      <!-- ======================================
      PRE-LAUNCH SIGNUP FORM
      =========================================== -->
      <div class="container padded klaviyo-form-product">
        {% if section.settings.pre_launch_text != blank %}
          <h2>{{ section.settings.pre_launch_text | newline_to_br }}</h2>
        {% endif %}
        <div id="sh-klaviyo-form-light" class="klaviyo-form-VfFNQN"></div>
      </div>
    {% endunless %}

      <!-- ======================================
      PRODUCT ACCORDIONS
      =========================================== -->
      <div class="product-accordions container-right-lg container-mobile">
        <div class="accordion list-animation-wrapper" data-anim="scroll">

          {% if product.metafields.custom_fields["instructions_heading"] != blank and  product.metafields.custom_fields["product_instructions"] != blank %}
            {% assign accordion_heading = product.metafields.custom_fields["instructions_heading"] %}
            {% assign accordion_text = product.metafields.custom_fields["product_instructions"] %}
            {%- include 'block-faq-product', class_name: 'instructions'  -%}
          {% endif %}

          {% if product.metafields.custom_fields["ingredients_heading"] != blank and product.metafields.custom_fields["product_ingredients"] != blank %}
            {% assign accordion_heading = product.metafields.custom_fields["ingredients_heading"] %}
            {% assign accordion_text = product.metafields.custom_fields["product_ingredients"] %}
            {%- include 'block-faq-product', class_name: 'ingredients' -%}
          {% endif %}

          {% if product.metafields.custom_fields["optional_accordion_3_heading"] != blank and product.metafields.custom_fields["optional_accordion_3_text"] != blank %}
            {% assign accordion_heading = product.metafields.custom_fields["optional_accordion_3_heading"] %}
            {% assign accordion_text = product.metafields.custom_fields["optional_accordion_3_text"] %}
            {%- include 'block-faq-product', class_name: 'accordion-3'  -%}
          {% endif %}

          {% if product.metafields.custom_fields["optional_accordion_4_heading"] != blank and product.metafields.custom_fields["optional_accordion_4_text"] != blank %}
            {% assign accordion_heading = product.metafields.custom_fields["optional_accordion_4_heading"] %}
            {% assign accordion_text = product.metafields.custom_fields["optional_accordion_4_text"] %}
            {%- include 'block-faq-product', class_name: 'accordion-4'  -%}
          {% endif %}
          {% if product.metafields.custom_fields["optional_accordion_5_heading"] != blank and product.metafields.custom_fields["optional_accordion_5_text"] != blank %}
            {% assign accordion_heading = product.metafields.custom_fields["optional_accordion_5_heading"] %}
            {% assign accordion_text = product.metafields.custom_fields["optional_accordion_5_text"] %}
            {%- include 'block-faq-product', class_name: 'accordion-5'  -%}
          {% endif %}
        </div>
      </div>


      <!-- ======================================
      PRODUCT REVIEWS
      =========================================== -->
      <div class="container-right-lg container-mobile">
        <div id="sh-yotpo">
          <div class="yotpo yotpo-main-widget" data-product-id="{{ product.id }}" data-name="{{ product.title | escape }}" data-url="{{ shop.url }}{{ product.url }}" data-image-url="{{ product.featured_image | product_img_url: 'large' |replace: '?', '%3F' | replace: '&','%26'}}" data-price="{{ variant.price | money_without_currency }}"
            data-currency=“{{ shop.currency }}” data-description=“{{ product.description | escape }}“>
            {%- assign yotpo_offload_content = shop.metafields.yotpo.yotpo_offload_content %}
              {%- assign time_now = 'now' | date: '%s' %}
              {%- assign yotpo_live_time = shop.metafields.yotpo.yotpo_live | date: '%s' %}
              {%- assign diff_seconds_from_live = time_now | minus: yotpo_live_time %}
              {%- assign yotpo_main_widget_last_updated = product.metafields.yotpo.main_widget_update_time | date: '%s' %}
              {%- assign diff_seconds_from_last_main_widget_update = time_now | minus: yotpo_main_widget_last_updated %}
              {%- if yotpo_live_time and diff_seconds_from_live < 86400 or yotpo_main_widget_last_updated and diff_seconds_from_last_main_widget_update < 86400 -%}
                {%- assign yotpo_main_widget_obsolete = false %}
              {%- else %}
                {%- assign yotpo_main_widget_obsolete = true %}
              {%- endif %}
              {%- if yotpo_offload_content == 'yes' and yotpo_main_widget_obsolete != true -%}
                {%- for field in product.metafields.yotpo_reviews -%}
                  {{ field | last }}
                {%- endfor -%}
              {%- endif %}
            </div>
        </div>
      </div>
    </div>
  </div>



  {% unless product == empty %}
    <script type="application/json" data-product-json>
      {{ product | json }}
    </script>
  {% endunless %}
</div>

{%- include 'ajax-add-to-cart-pdp' -%}

{% schema %}
  {
    "name": "Product pages",
    "class": "page-product-detail",
    "settings": [
      {
        "type": "text",
        "id": "pre_launch_text",
        "label": "Pre-Launch Newsletter Heading",
        "default": "Coming Soon. Join The Waitlist."
      }

    ]
  }
{% endschema %}
