{%- include 'alternating-section', format: 'img-right' -%}

<!-- <section class="about-hero">
  <div class="container">
    <div class="cols-2 no-gutters">
      <div class="text-content padded">
        {% if section.settings.heading != blank %}
          <h1>{{ section.settings.heading | newline_to_br }}</h1>
        {% endif %}
        {% if section.settings.desc != blank %}
          <div class="desc">
            {{ section.settings.desc }}
          </div>
        {% endif %}
        {% if section.settings.button_text != blank %}
          <a href="{{ section.settings.button_url }}"
            class="btn btn--grey"
            {% if section.settings.button_alt != blank %}alt="{{ section.settings.button_alt }}"{% endif %}>
            {{ section.settings.button_text }}
          </a>
        {% endif %}
      </div>
      <div>
        <div class="cropped-image-wrapper">
          {% assign image = section.settings.image %}
          {% assign alt_text = section.settings.image_alt | escape %}
          {% assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
          <img
          class="lazyload fade-in"
          data-src="{{ img_url }}"
          data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
          data-aspectratio="{{ image.aspect_ratio }}"
          data-sizes="auto"
          alt="{{ alt_text }}"
          data-anim="scale"
          >
        </div>
      </div>
    </div>
  </div>
</section> -->


{% schema %}
{
  "name": "About Hero",
  "settings": [
    {
      "id": "heading",
      "type": "textarea",
      "label": "Heading"
    },
    {
      "id": "desc",
      "type": "richtext",
      "label": "Description"
    },
    {
      "id": "button_text",
      "type": "text",
      "label": "Button Text"
    },
    {
      "id": "button_url",
      "type": "url",
      "label": "Button URL"
    },
    {
      "id": "button_alt",
      "type": "text",
      "label": "Button ADA description",
      "info": "Use for links with nondescriptive text like 'Learn More'"
    },
    {
      "id": "image",
      "type": "image_picker",
      "label": "Image"
    },
    {
      "id": "image_alt",
      "type": "text",
      "label": "Image Alt",
      "info": "Write a brief description of this image to improve search engine optimization (SEO) and accessibility for visually impaired customers."
    }
  ]
}
{% endschema %}
